.CarouselBanner {
  width: 100%;
  position: relative;
}
.CarouselItem {
  margin-top: 5%;
  height: 50%;
}
.CarouselItem > img {
  width: 29%;
  margin-top: 5%;
  margin-left: 50%;
}

.CarouselCaption {
  color: black;
}
