/* SubscriptionBenefits.module.css */

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  padding: 20px;
}

.carBox {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.carBox:hover {
  transform: scale(1.05);
}

.carImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.carInfo {
  padding: 10px;
  text-align: center;
}

.carInfo h3 {
  font-size: 1.2em;
  margin: 0;
}

.carInfo p {
  font-size: 1em;
  color: #555;
}
